body {
    margin: 0;
    padding: 0rem;
    height: 100vh;

}

.todos {
    width: 100%;
    margin: auto;
   
}

.teste {
 
    & img {
        width: 100%;
        object-fit: cover;
        position: relative;
        width: 100%;
        height: 100px;
    }
}

 